# Node.js dependencies
node_modules/

# Environment variables
.env

# Build output
build/

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Test coverage reports
coverage/

# Ignore local IDE settings
.vscode/
.idea/